@{
    Layout = null;
}
@using ETicaret.Ui.Web.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" />
    <meta name="author" content="">
    <title>SB Admin 2 - Bootstrap Admin Theme</title>
    @Styles.Render("~/adminLayoutStyles")
    @RenderSection("styles",false)
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="Yonetim/Giris/CikisYap">Çıkış Yap (@CurrentUser.KullaniciAdi)</a>
            </div>         
           @{
               Html.RenderPartial("Partial/_sideBar");
           }
          
         
        </nav>
        <!-- Page Content -->
        <div id="page-wrapper">
            
            @RenderBody()
        </div>

    </div>

    @Scripts.Render("~/adminLayoutScripts")
    @RenderSection("scripts", false)
</body>
</html>


