@model List<ETicaret.Data.Orm.Urun>

<div id="special_home" class="grid_12">
    <h2 class="s_title_1"><span class="s_main_color">@ViewBag.Message1</span> @ViewBag.Message2</h2>
    <div class="clear"></div>
    <div class="s_listing s_grid_view clearfix">
        @foreach (var item in Model)
        {
            <div class="s_item grid_2" style="opacity: 1;">
                <a class="s_thumb" href="product.html">
                    <img src="@item.Resimler.Select(x=>x.Resim140).FirstOrDefault()" title="@item.Ad" alt="@item.Ad">
                </a>
                <h3><a href="/urundetay/@item.SayfaYolu">@item.Ad</a></h3>
                <p class="s_model">@item.Kategori.Ad</p>
                <p class="s_price s_promo_price">
                    @if (item.IndirimVarMi)
                    {
                        <span class="s_old_price">

                            <span class="s_currency s_before">
                                ₺
                            </span>@item.Fiyat

                        </span>
                    }
                  
                    <span class="s_currency s_before">₺</span>
                    @item.SonFiyat
            </p>
                <a class="s_button_add_to_cart" href="javascript:SepeteEkle(@item.Id,1)"><span class="s_icon_16"><span class="s_icon"></span>Sepete Ekle</span></a>
        </div>
        }


        <div class="clear" style="opacity: 1;"></div>
    </div>
</div>
