@{
    ViewBag.Title = "Duzenle";
    Layout = "~/Areas/Yonetim/Views/Shared/_YoneticiLayout.cshtml";
}
@model ETicaret.Data.Orm.Kategori

<div id="result"></div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            @Model.Ad
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("Duzenle", "Kategori", FormMethod.Post, new { @role = "form", @class="ajaxform" }))
            {
                @Html.TextGroupFor(x => x.Ad)
                @Html.TextAreaGroupFor(x => x.Aciklama)
                @Html.DropDownGroupFor(x => x.UstKategori, "kategoriListe", "Yeni bir üst kategori oluşturmak istiyorum")
                @Html.SubmitButton("Düzenle")
            }
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/formScripts")   
}

