
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Yonetim/Views/Shared/_YoneticiLayout.cshtml";
}
@model IEnumerable<ETicaret.Data.Orm.Kategori>
      <form method="post">
          @Html.DropDownList("kategoriId", (IEnumerable<SelectListItem>)ViewData["kategoriListe"],"Üst Kategoriler", new { @class="form-control",@onchange="this.form.submit()"})
      </form>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            Ad
                        </th>
                        <th>
                            Adres
                        </th>
                        <th>
                            &nbsp;
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="subitem" id='tableRow-@item.Id'>
                            <td>@item.Ad</td>
                            <td><a href="/kategoriler/@item.SayfaYolu">@item.SayfaYolu</a></td>

                            <td class="text-center">
                                @Html.UpdateButton("/yonetim/kategori/Duzenle/" + item.Id)
                                @Html.DeleteButton("/yonetim/kategori/Sil", item.Id)

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
<script src="~/Scripts/Custom/ListeIslemleri.js"></script>
}