@{
    ViewBag.Title = "Sirala";
    Layout = "~/Areas/Yonetim/Views/Shared/_YoneticiLayout.cshtml";
}
@model List<ETicaret.Data.Dto.KategoriDto>


<ul class="sortable">
    @foreach (var item in Model)
    {
        <li id="@item.Id" class="ui-state-default">
            <img width="48" height="48" src="~/Content/images/moveactive.png" />  @item.Ad
            @if (item.AltKategoriler.Any())
            {
                <ul class="subsortable">
                    @foreach (var altKategori in item.AltKategoriler)
                    {
                        <li id="@altKategori.Id" class="ui-state-highlight">
                            <img width="48" height="48" src="~/Content/images/moveactive.png" />
                            @altKategori.Ad
                        </li>
                    }
                </ul>
            }
        </li>
    }
</ul>
<div id="result"></div>
@section scripts{
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
    @Scripts.Render("~/formScripts")
    @Scripts.Render("~/jqueryUi")
    @Scripts.Render("~/kategoriSiralaScripts")

}
@section styles
{<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <style>
        ul {
            list-style: none;
        }

            ul li {
                cursor: move;
            }
    </style>
}
