@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin 2 - Bootstrap Admin Theme</title>
    <!-- Bootstrap Core CSS -->
    @Styles.Render("~/adminLayoutStyles")
    <style>
        .validation-summary-errors ul li {
            color: red;
            list-style: none;
        }
    </style>
    @model GirisModel
</head>
<body>
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-md-offset-4">

                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @role = "form" }))
                        {
                            @Html.ValidationSummary()
                            <fieldset>
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control", @placeholder = "Kullanıcı Adı", @autofocus = "" })
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(x => x.Sifre, new { @class = "form-control", @placeholder = "Şifre" })
                                </div>
                                <div class="form-group col-md-12">
                                    <input type="submit" class="btn btn-info" value="Giriş" />
                                </div>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/adminLayoutScripts")
    @Scripts.Render("~/formScripts");
</body>
</html>
@*Formun valid durumunu kontrol ettik*@
@*<script>
        $('form').submit(function (e) {
            e.preventDefault();
            alert($(this).valid());
        });
    </script>*@
